#search-input {
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  text-indent: 10px;
}

#search-button {
  width: 80px;
  height: 30px;
  background: rgb(83, 83, 83);
  vertical-align: middle;
  outline: none;
  color: white;
  font-size: 20px;
}

#search-box {
    display: grid;
    place-items: center;
    margin: 0 auto;
}

h1 {
    display: grid;
    place-items: center;
    margin: 0 auto;
}

html {
    background-color: darkgrey;
}